.modify-container {
  margin-bottom: 20px;
  margin: 0 auto;
  width: 70%;
  height: 86vh;
  position: relative;
  margin-top: 140px;
  border: 1px solid #ccc; /* 테두리를 회색으로 설정합니다. */
  border-radius: 20px; /* 테두리의 모서리를 둥글게 만듭니다. */
}

.modify-container h2 {
  margin: 50px;
  font-size: 32px;
  margin-bottom: 40px;
}

.modify-container ul {
  list-style: none; /* 리스트의 점 표시 제거 */
}

.modify-container ul li {
  margin-left: 10px;
  margin-bottom: 40px; /* 각 입력 요소 사이의 간격 조절 */
}

.modify-container ul li label {
  display: block; /* 라벨을 블록 요소로 표시하여 한 줄에 하나씩 표시되도록 함 */
  font-size: 24px;
  margin-bottom: 10px;
}

.modify-container input[type="text"] {
  width: 90%; /* 혹은 적절한 너비값 설정 */
  height: 40px;
  border: 2px solid #ccc; /* 테두리 두껍게 설정 */
  border-radius: 10px; /* 둥글게 모양 주기 */
  padding: 10px; /* 내부 여백 추가 */
}
/* 내용 입력란의 크기를 더 큰 직사각형으로 설정 */
.modify-container textarea {
  width: 90%; /* 입력란의 너비를 100%로 설정하여 부모 요소에 맞게 설정 */
  height: 250px; /* 원하는 높이로 설정 */
  border: 2px solid #ccc; /* 테두리 두껍게 설정 */
  border-radius: 10px; /* 둥글게 모양 주기 */
  padding: 10px; /* 내부 여백 추가 */
  resize: none; /* 사용자가 크기를 조절하지 못하도록 설정합니다. */
  overflow-y: auto; /* 세로 방향으로만 스크롤바를 표시합니다. */
}

.modifyButton {
  background-color: darkseagreen;
  color: white;
  border: none;
  padding: 20px 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  position: absolute; /* 절대 위치 설정 */
  bottom: 50px; /* 하단 여백 설정 */
  right: 100px; /* 우측 여백 설정 */
  font-family: "NPS";
}

.input-text {
  font-size: 24px;
  font-family: "NPS";
}
@media screen and (max-width: 400px) and (max-height: 2316px) {
  .modify-container {
    flex-direction: column;
    height: 65vh;
    width: 95%;
    overflow-y: auto;
    margin-top: 145px;
  }
  .modify-container h2 {
    margin: 20px;
    font-size: 24px;
  }

  .modify-container ul li {
    margin-left: -10px;
    margin-bottom: 20px;
  }
  .modify-container ul li label {
    font-size: 16px;
  }
  .modify-container input[type="text"] {
    height: 50%;
    font-size: 14px;
    width: 80%;
  }
  .modify-container textarea {
    font-size: 14px;
    width: 80%;
    height: 160px;
    word-spacing: 2px;
    letter-spacing: 1px;
  }
  .modifyButton {
    padding: 10px 20px;
    border-radius: 10px;
    bottom: 10px;
    right: 50px;
  }
}
