.toast-container {
  position: fixed;
  top: 100px; /* 상단 여백 조정 */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* 초기에는 보이지 않도록 설정 */
}

.toast-container.show {
  opacity: 1; /* 토스트가 보이도록 설정 */
}
@media screen and (max-width: 400px) and (max-height: 2316px) {
  .toast-message {
    font-size: 12px;
    white-space: nowrap;
  }
}
