/* Popup.css */
.popup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  z-index: 9999; /* 팝업이 다른 요소 위에 표시되도록 z-index 설정 */
  top: 0;
}

.popup-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* 팝업 창의 너비를 조절합니다. */
  max-width: 600px; /* 최대 너비를 지정할 수도 있습니다. */
}

.close {
  display: flex;
  top: 10px;
  right: 10px;
  margin-left: 580px;
  cursor: pointer;
  font-size: 24px;
}
.addressSearch {
  margin-top: -30px;
}

@media screen and (max-width: 400px) and (max-height: 2316px) {
  .popup-modal {
    margin-top: 115px;
  }
  .popup-modal-content {
    margin-top: -100px;
    height: 66%;
    padding: 5%;
    width: 290px;
  }
  .close {
    margin-left: 260px;
    margin-top: -5px;
  }
  .addressSearch {
    margin-bottom: 20px;
    margin-top: -20px;
  }

  .modal-body {
    margin-top: 30px;
    width: 50%;
    height: 350px;
  }
  #__daum__layer_3 {
    width: 50%;
    height: 100%;
  }
  #__daum__layer_2 iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 200px;
  }
  #__daum__layer_2::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
  }
  #modal-body {
    height: 300px;
  }
  #div {
    height: 300px;
  }
  .info_body {
    width: 100px;
  }
}
