/* 공통 스타일 */
.login,
.find_pw,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 차지 */
}

.login_main,
.signup_main {
  width: 394px;
  margin: auto; /* 수평 가운데 정렬 */
  display: flex; /* 내부 요소를 수직으로 정렬하기 위해 추가 */
  flex-direction: column; /* 내부 요소를 수직으로 정렬하기 위해 추가 */
}

.inputTag {
  position: relative;
  width: 100%;
}

.inputTag input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f3f3f3;
  padding: 30px 0px 10px 15px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
}

input[type="password"] {
  font: small-caption;
}

.inputTag input:focus-within {
  border: 1px solid darkseagreen;
}

.inputTag input + label {
  display: block;
  position: absolute;
  text-align: left;
  width: Fixed (41px);
  height: Fixed (14px);
  top: 10px;
  left: 15px;
  color: #666;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.link_box {
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
}

.location-find {
  right: 0;
  align-items: end;
}

.location-find-button {
  background-color: darkseagreen;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "NPS";
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  margin-left: 300px;
}

#login_btn {
  width: 100%;
  border-radius: 10px;
  background-color: darkseagreen;
  border: none;
  color: #f0f0f0;
  height: 57px;
  font-weight: 700;
  cursor: pointer;
  font-family: "NPS";
  font-size: 16px;
  margin-left: 5px;
}

.errorMSG {
  color: red;
  font-size: small;
  margin-top: 4px;
}

.alert {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.text {
  color: grey;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 30px;
}

.idMSG {
  margin-top: 5px;
}

/* 모바일 화면용 스타일 */
@media only screen and (max-width: 904px) and (max-height: 2316px) {
  body {
    overflow: hidden;
  }
  .login_main,
  .signup_main {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
  }

  .inputTag input {
    height: 30px;
    font-size: 16px;
  }
  input[type="password"] {
    font-family: "NPS";
  }

  #login_btn {
    height: 45px;
    font-size: 20px;
  }

  .location-find-button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  .text {
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 30px;
  }

  .login_form .inputTag input {
    margin-bottom: 0px;
  }

  .location-find-button {
    width: 30%;
    margin-left: 230px;
  }
}
