.mypageposts-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
  margin-left: 410px;
  width: 75%;
  height: 80vh;
  position: relative;
  margin-top: 145px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.text-post {
  padding: 30px;
  margin-left: 30px;
}

.mypage-posts-table {
  border-collapse: collapse; /* 테이블 테두리를 병합하여 테두리 간격을 제거합니다. */
  width: 90%;

  margin: 0 auto;
  padding: 20px;
}

.mypage-posts-table th {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.mypage-posts-table th:nth-child(1) {
  width: 20%;
}
.mypage-posts-table th:nth-child(2) {
  width: 60%;
}
.mypage-posts-table th:nth-child(3) {
  width: 20%;
}

.mypage-posts-table td:nth-child(1) {
  cursor: pointer;
}

/* 테이블 행(게시물)의 스타일을 설정합니다. */
.mypage-posts-table tr {
  border-bottom: 1px solid #ddd; /* 테두리 선을 추가하여 행(게시물) 사이의 간격을 만듭니다. */
}

/* 테이블 셀(열)의 스타일을 설정합니다. */
.mypage-posts-table td {
  padding: 12px; /* 셀(열)의 안쪽 여백을 설정합니다. */
  text-align: center;
  height: 40px;
  border-bottom: 1px solid black;
}

.mypage-pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 게시글과 pagination 사이의 간격 조정 */
  height: 30px;
}

@media screen and (max-width: 904px) and (max-height: 2316px) {
  .mypage-posts-table {
    display: none; /* 모바일에서는 테이블 숨기기 */
  }

  .post-list {
    display: block;
    height: 75vh;
  }

  .mypageposts-container {
    margin-left: 2.5%;
    width: 95%;
    height: 75vh;
    margin-top: 150px;
    overflow-y: auto;
  }

  .mypageposts-container::-webkit-scrollbar {
    display: none;
  }

  .text-post {
    font-size: 20px;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: -10px;
  }

  .mypage-pagination-container {
    display: none;
  }
}

@media screen and (min-width: 905px), screen and (min-height: 2317px) {
  .post-list {
    display: none;
  }
}
