/* 기본 사이드바 스타일 */
.sidebar {
  width: 300px;
  height: 90vh;
  background-color: white;
  color: white;
  position: fixed;
  top: 10vh;
  left: 0;
  padding: 20px;
  border: 2px solid #f8f9fa;
  /* z-index: 1000; /* 상단에 나타나도록 설정 */
  transition: left 0.3s ease; /* 슬라이딩 애니메이션 */
}

.sidebar::before {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: black;
  margin-bottom: 30px;
  position: absolute;
  top: 215px;
}

.Pgname {
  font-size: 28px;
  white-space: nowrap;
  color: black;
  margin-left: 18px;
  font-weight: bold;
}

.sidebar ul li {
  font-size: 20px;
  margin-bottom: 42px;
  margin-left: -18px;
  list-style-type: none;
}

.active {
  color: darkseagreen;
}

/* 모바일 환경을 위한 미디어 쿼리 */
@media screen and (max-width: 904px) and (max-height: 2316px) {
  .sidebar {
    height: 100vh;
    width: 70%;
    left: -350px; /* 처음에는 화면 밖에 위치 */
    top: 0;
    background-color: #f5f5f5;
    z-index: 1000;
  }

  .sidebar.active {
    left: 0;
  }

  .toggle-button {
    display: block; /* 모바일에서만 버튼 보이기 */
    
  }

  .toggle-button img {
    width: 150%; /* 원래 크기보다 30% 증가 */
    height: 150%; /* 원래 크기보다 30% 증가 */
  }

  .Pgname {
    font-size: 25px;
    margin-top: -60px;
    white-space: nowrap;
    color: black;
    margin-left: 8px;
    font-weight: bold;
  }

  .sidebar::before {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
    position: absolute;
    top: 150px;
  }

  .sidebar ul li {
    font-size: 18px;
    margin-bottom: 55px;
    margin-left: -28px;
    list-style-type: none;
    margin-top: -15px;
  }

  /* 오버레이 스타일 */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 회색 배경 */
    z-index: 1000; /* 사이드바 아래에 위치 */
    display: none; /* 기본적으로 숨기기 */
  }

  .overlay.active {
    display: block; /* 활성화 시 보이도록 설정 */
  }
}

@media screen and (min-width: 905px) {
  .toggle-button {
    display: none;
  }

  .close-button {
    display: none;
  }
}

/* 토글 버튼 스타일 */
.toggle-button {
  position: fixed;
  bottom: 75px; /* 화면 하단으로부터의 간격 조정 */
  left: 8%;
  z-index: 1000; /* 사이드바보다 위에 나타나도록 설정 */
  background: none;
  border: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
