.chatroom {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh; /* 화면 전체 높이 차지 */
}

.chatroom_main {
  padding: 20px 40px 40px 40px;
  border: 1px solid darkseagreen;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.chatroom_main .inputTag {
  position: relative;
  width: 100%;
}

.chatroom_main .inputTag input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f3f3f3;
  padding: 30px 0px 10px 15px;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 300;
  font-family: "NPS";
}

.chatroom_main .inputTag input:focus-within {
  border: 1px solid darkseagreen;
}

.validation {
  visibility: hidden;
}

.chatroom_main .inputTag input + label {
  display: block;
  position: absolute;
  text-align: left;
  width: Fixed (41px);
  height: Fixed (14px);
  top: 10px;
  left: 15px;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.createRoomButton {
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: "NPS";
  padding: 20px 20px 20px 20px;
  margin-left: 700px;
  background-color: darkseagreen;
  color: white;
  cursor: pointer;
}
